---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Alfonso's Page in Github">


		<h1>Welcome to my Github Page</span></h1>
		<ul>
			<li><a href="/blog/posts/my-first-post-blog/">Post 1</a></li>

		  </ul>

</Layout>

